<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D280 Interactive World Map</title>
</head>

<body>
  <table>
    <th>World Map</th>
    <th>Country Stats</th>
    <tr>
      <td>
        <app-map></app-map>
      </td>
      <td>stats placeholder</td>
    </tr>

  </table>
  <script>
    /*
  Docs & Examples:
  https://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL?format=json
  https://api.worldbank.org/v2/country?format=json
  https://api.worldbank.org/v2/country/br?format=json
  
  */
  </script>

</body>

</html>