<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D280 Interactive World Map</title>
</head>

<body>
  <table>
    <th>
      <h1>World Map</h1>
    </th>
    <th>
      <h2>Country Stats</h2>
    </th>
    <tr>
      <td id="world-cell">
        <app-map></app-map>
      </td>
      <td>
        <ol>
          <li>Country: <span>{{ countryName }}</span></li>
          <li>Country Capital: <span>{{ countryCap }} </span></li>
          <li>Country Latitude & Longitude: <span>{{ countryLongLat }}</span></li>
          <li>Country Income: <span>{{ countryIncome }}</span></li>
          <li>Country Region: <span>{{ countryRegion }}</span></li>
        </ol>
      </td>
    </tr>

  </table>
  <div>
    <img id="nigel"
      src="https://vignette.wikia.nocookie.net/nickelodeon/images/b/b2/NIGEL.png/revision/latest?cb=20180816225303"
      alt="Nigel from the Wild Thornberrys">
    <p>Image Credit from <a href="">Nickelodeon.fandom.com</a><br>
      API <a
        href="https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-basic-call-structures">WorldBank.com</a>
    </p>
  </div>
  <script>
    /*
  Docs & Examples:
  https://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL?format=json
  https://api.worldbank.org/v2/country?format=json
  https://api.worldbank.org/v2/country/br?format=json
  
  */
  </script>

</body>

</html>